@import "tailwindcss";

* {
  box-sizing: border-box;
}

html {
  width: 100%;
  max-width: 100%;
  font-family: TTCommons;
  word-break: break-word;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
}
